@import '@/assets/styles/variables';
@import '@/assets/styles/mixin';

.detailsMovie {
  position: relative;
  display: flex;
}
.detailsMoviePreview {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 900px;
  z-index: -1;

  & img {
    @include cover;
  }
}
.detailsMovieInfo {
  padding-top: 200px;
  padding-bottom: 122px;
  max-width: 600px;
}
.detailsMovieInfoTop {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.detailsMovieTitle {
  margin-bottom: 16px;
}
.detailsMovieActions {
  display: flex;
  align-items: center;
  margin-top: 60px;
  gap: 16px;
}