@import '@/assets/styles/variables';
@import '@/assets/styles/mixin';

.aboutMovie {
  padding: 40px 0;
}
.aboutMovieTitle {
  margin-bottom: 64px;
}
.aboutMovieItems {
  display: flex;
  flex-direction: column;
  gap: 24px;
}