@import '@/assets/styles/variables';
@import '@/assets/styles/mixin';

.text[data-size='sm'] {
  font-size: 18px;
}
.text[data-size='default'] {
  font-size: 24px;
}
.text[data-color='white'] {
  color: $white-text;
}
.text[data-color='grey'] {
  color: $grey-text;
}