@import '@/assets/styles/variables';
@import '@/assets/styles/mixin';

.userControlButton {
  font-size: 24px;
  color: white;
  transition: $trans-15;
   

  &:hover,
  &:focus-visible {
    color: $purple-hover;
  }
}