@import '@/assets/styles/variables';
@import '@/assets/styles/mixin';

.loginFormWrapper {
  width: 100%;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.loginFormFields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.loginFormRegister {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
}