$font-family: 'Play', sans-serif;

$black-bg: #0a0b0b;
$grey-bg: #393b3c;
$purple-bg: #6a5dc2;

$white-text: #fff;
$grey-text: rgba(255, 255, 255, 0.7);

$purple-border: #dc5dfc;

$content-active: #b4a9ff;
$danger: #ff7575;
$grey-disabled: #747474;
$purple-disabled: #d6d2f1;
$purple-hover: #8577e1;

$green-bage: #308e21;
$yellow-bage: #a59400;
$grey-bage: #777;
$red-bage: #c82020;

$trans-10: .10s ease-in-out;
$trans-15: .15s ease-in-out;
$trans-20: .20s ease-in-out;
$trans-25: .25s ease-in-out;
$trans-30: .30s ease-in-out;